/*css
/*Mis Estilos*/
 h2 {
	color: blueviolet;
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 0;
	text-transform: uppercase;
}
header {
	background-image: url("../images/art.jpg");
	background-repeat: no-repeat;
}

#container{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(450px,1fr)); 
	grid-gap: 1rem;}
ul {
display: inline-block;
list-style: outside none none;
margin: 0 0 0 10px;
padding: 0;}